* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f6f8f7;
    color: #13213a;
}

/* NAVBAR */

header {
    background: linear-gradient(90deg, #024b2c, #012c1d);
    padding: 20px 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo i {
    font-size: 32px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 35px;
    color: white;
}

.menu li a {
    text-decoration: none;
    color: white; /* ou a cor desejada */
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu li a:hover {
    color: #16a34a;
}

.active {
    background: rgba(255,255,255,0.15);
    padding: 12px 18px;
    border-radius: 12px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn-login,
.btn-register {
    padding: 14px 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.btn-login {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.btn-register {
    background: #16a34a;
    color: white;
}

/* Conteúdo */
.faq-container {
    width: 85%;
    margin: 50px auto;
}

/* Topo */
.faq-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}

.faq-topo h1 {
    font-size: 60px;
    color: #07124b;
    margin-bottom: 20px;
}

.faq-topo p {
    font-size: 30px;
    color: #555;
}

.faq-ilustracao i {
    font-size: 170px;
    color: #07a34c;
    opacity: .2;
}

/* Perguntas */
.faq-lista details {
    background: white;
    border: 1px solid #ececec;
    border-radius: 15px;
    margin-bottom: 18px;
    overflow: hidden;
}

.faq-lista summary {
    padding: 30px;

    font-size: 30px;
    font-weight: bold;
    color: #07124b;

    list-style: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-lista summary::-webkit-details-marker {
    display: none;
}

.faq-lista p {
    padding: 0 30px 30px;
    font-size: 24px;
    color: #555;
    line-height: 35px;
}

/* Card Final */
.contato-card {
    margin-top: 60px;
    padding: 60px;

    background: #f0faf3;
    border-radius: 20px;
    text-align: center;
}

.contato-card h2 {
    color: #006d30;
    font-size: 42px;
    margin-bottom: 20px;
}

.contato-card p {
    color: #444;
    font-size: 25px;
    margin-bottom: 35px;
}

.btn-contato {
    display: inline-flex;
    align-items: center;
    gap: 15px;

    text-decoration: none;
    color: #008f3f;
    font-size: 24px;
    font-weight: bold;

    border: 2px solid #008f3f;
    border-radius: 12px;
    padding: 18px 35px;

    transition: 0.3s;
}

.btn-contato:hover {
    background: #008f3f;
    color: white;
}